<div class="card">
    <div class="card-header d-flex justify-content-between aling-items-center">
        <h2>{{Image.title}}</h2>
        <button class="btn btn-danger" id="btn-delete" data-id="{{Image.uniqueId}}">
            <i class="fa fa-times"></i> Eliminar
        </button>
    </div>
    <div class="card-body">
        <p>{{Image.description}}</p>
        <div class="text-center">
            <img src="/public/upload/{{Image.filename}}" class="img-fluid">
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between aling-items-center">
        <button class="btn btn-success" id="btn-like" data-id="{{Image.filename}}">
            <i class="fas fa-thumbs-up"></i> Me Gusta
        </button>
        <p>
            <span class="likes-count">{{Image.likes}}</span>
            <i class="fas fa-heart"></i>
        </p>

        <p>
            <i class="fas fa-eye"></i> {{Image.views}}
        </p>
        <p>
            <i class="far fa-clock"></i>
            {{timeago Image.timestamp}}
        </p>
    </div>
</div>

<div class="card mt-2">
    <div class="card-header d-flex justify-content-between aling-items-center">
        <h3>Comentarios</h3>
        <button class="btn btn-info" id="btn-toggle-comment">
            <i class="fa fa-comment-o"></i> Publica un comentario
        </button>
    </div>
    <div class="card-body">
        <blockquote id="post-comment">
            <form action="/images/{{Image.uniqueId}}/comment" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Nombre">
                </div>
                <div class="from-group">
                    <input type="text" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <textarea name="comment" rows="2" class="form-control" placeholder="Escribe tu comentario"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" id="btn-comment">
                        <i class="fa fa-comment"></i> Publicar
                    </button>
                </div>
            </form>
        </blockquote>
        <ul class="list-group p-4">
            {{#each Comments}}
                <li class="list-group-item">
                    <div class="row">
                        <a href="#" class="col text-center">
                            <img src="http://gravatar.com/avatar/{{gravatar}}?d=monsterid&s=45" alt="">
                        </a>
                        <blockquote class="col">
                            <p class="lead">{{comment}}</p>
                            <footer class="blockquote-footer">
                                {{name}} - {{timeago timestamp}}
                            </footer>
                        </blockquote>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>

