{{#if sidebar.comments}}
<div class="card mt-2">
    <div class="card-header">
        <h5><i class="fas fa-comments"></i> Últimos comentarios</h5>
    </div>
    <div class="card-body">
        {{#each sidebar.comments}}
            <div class="row">
                <div class="col">
                    <a href="/images/{{image.uniqueId}}">
                        <img src="" alt="">
                    </a>
                </div>
                <div class="col">

                </div>
            </div>
        {{/each}}
    </div>
</div>
{{/if}}
