<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5><i class="far fa-chart-bar"></i> Status</h5>
    </div>
    <div class="card-body">
        <p><i class="fas fa-images"></i> Imagenes: {{sidebar.stats.images}}</p>
        <p><i class="fas fa-comments"></i> Comentarios: {{sidebar.stats.comments}}</p>
        <p><i class="fas fa-eye"></i> Vistas: {{sidebar.stats.views}}</p>
        <p><i class="fas fa-heart"></i> Me Gusta: {{sidebar.stats.likes}}</p>
    </div>
</div>