<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImageApp</title>
    {{!-- BOOTSTRAP 4 --}}
    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>
<body>
    
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a href="http://localhost:3900/" class="navbar-brand">
                <img src="/public/img/imageapp.png" alt="imageapp">
            </a>
        </div>
    </nav>

<div class="container p-4">
    <div class="row">
        <div class="col-md-8">
            {{{ body }}}
        </div>
        <div class="col-md-4">
            {{> stats}}
            {{> popular}}
        </div>
    </div>
</div>
    {{!-- Scripts --}}
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="/public/js/scripts.js"></script>
</body>
</html>